.BodyDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 70%;
  text-align: center;
}
.BodyDiv #MainText {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
}
.BodyDiv #UnderText {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

#GetSZ {
  font-size: 25px;
  background-color: black;
  color: rgb(220, 220, 220);
  font-weight: 300;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#arrow {
  vertical-align: text-bottom;
  width: 30px;
  height: 30px;
}
