#Top {
  display: grid;
  grid-template-columns: 30% 70%;
}

#TopFurther {
  display: grid;
  grid-template-columns: repeat(2, 20%) 10% 20% 10%;
  justify-content: end;
  align-items: center;
}

#Title {
  text-indent: 10%;
  font-size: 40px;
}

/* .TopSide {

} */

#Launch {
  background-color: black;
  border-radius: 5px;
  color: rgb(220, 220, 220);
  font-size: larger;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

h3 {
  font-weight: 300;
}
